name: Code Style

on:
  pull_request:
    paths:
      - "**.php"

jobs:
  php-cs-fixer:
    uses: yardinternet/workflows/.github/workflows/format-php.yml@main
    with:
      php-version: "8.2"
    secrets: inherit
